<div class="card shadow-sm">
    <img [src]="car?.imagem" class="card-img-top" width="420" height="315px" />
    <div class="card-body">
      <h5 class="card-title">{{car?.nome}}</h5>
      <p class="card-text">
        {{car?.descricao}}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Ver detalhes
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="favoritar();">
            Like
          </button>
        </div>
      </div>
    </div>
  </div>
